<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExerciseCRUD.Properties.Settings.PRODIConnectionString"
            connectionString="Data Source=LAPTOP-EG0BMCQV\FAISHAL;Initial Catalog=PRODI;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>